/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*************************************/
/*************************************/
/****** CSS para bases de datos ******/
/*************************************/
/*************************************/

body{
    background-color: #474e5d;
    font-family: 'Montserrat', sans-serif;
}

/*************************************/
/*** Color del texto con un enlace ***/
/*************************************/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E8E8E8;
}

.section {
    background-color: #606060;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    float: left;
    width: 120px;
}

li a {
    display: block;
    color: #E8E8E8;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
}

li a.active {
    background-color: #A9A9A9;
    color: white;
    text-decoration: none;
}

li p {
    display: block;
    color: #E8E8E8;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

/*************************************/
/**** Color de texto en el navbar ****/
/*************************************/

.navbar {
    border-right: 1px solid #bbb;
}

.navbar:link {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.navbar:visited {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
    text-color: white;
}

/*************************************/
/*** Color de texto en los enlaces ***/
/*************************************/

a:link {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

/*************************************/
/********* Iniciar la sesión *********/
/*************************************/

form {border: 3px solid #f1f1f1;}

.modal-register {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 170px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

span.psw {
    float: right;
}

/*************************************/
/************* Registros *************/
/*************************************/

.modal {
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    padding-top: 50px;
    padding-bottom: 50px;
}

#lel {
    text-align: center;
    padding-bottom: 10px;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 80%;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.container {
    padding: 18px;
}

.texto{
	line-height:1.5cm;
}

/*************************************/
/************* TextBoxes *************/
/*************************************/

input[type=text].registro, input[type=password].registro {
    width: 100%;
    padding: 15px;
    margin: 8px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text].registro:focus, input[type=password].registro:focus {
    background-color: #ddd;
    outline: none;
}

/*************************************/
/************** Botones **************/
/*************************************/

button {
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}

#sgn_empleado {
    background-color: darkgray;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*************************************/
/*** Elementos centrados en el div ***/
/*************************************/

.container_tabla{
    top: 10px;
    border: 1px solid black;
}

table.tabla {
    text-align:center; 
    margin-left:auto; 
    margin-right:auto;
}

table#compra {
    margin-left: 42.5%;
}

/*************************************/
/* Crear diseno de la tabla catálogo */
/*************************************/

th, td{
    padding: 10px;
}

th, td:not(.centrar) {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    text-align: center;
}

td {
    text-align: left;
}

td:not(.centrar){
    background-color: white;
}

.centrar img {
    margin-left: auto;
	margin-right: auto;
	display: block;
}

